<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <add key="FriendlyName" value="ShowCasePalmBeach"/>
    <add key="UserName" value="ADMIN"/>
    <add key="Password" value="}k4("/>
    <add key="EPSURL" value="https://showcase.equivant.com/ExchangePointService.svc"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Information" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <!--Uncomment the listener that you want to use-->
      <!--Database Logging-->
      <!--<add databaseInstanceName="LocalSqlServer" writeLogStoredProcName="WriteLogStoredProcName"
        addCategoryStoredProcName="AddCategoryStoredProcName" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Database Trace Listener" />-->
      <!--FlatFile Logging-->
      <add fileName="C:\Logs\ExWinSvcTrace.log" header="-------- Log Entry Begin --------" footer="--------- Log Entry End ---------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener"/>
      <!--Event Logging-->
      <add source="ExchangePointServiceTester" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener"/>
      <!--DataExchange Database Logging-->
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="ShowCaseUtil.DataExchangeDatabaseTraceListener, ShowCaseUtil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="DataExchnage Database TraceListener" initializeData="" formatter="Text Formatter" connectionString="Server=MTDVMSVRSC001\test;Database=ShowCasePalmBeachQA;uid=sa_showcase;pwd=Solutions1!;"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <!--Filter based on Priority or categories-->
      <!-- Priorities
      ActivityTracing = 1,// Flow event logs between processing activities and components
      Verbose = 2,// Low level events
      Information = 3,// Important and Successful milestones
      Warning = 4,// A possible problem has occured or may occur but the application still functions correctly
      Error = 5, // Unexpected Processing has happened. The application was not able to perform a task as expected
      Critical = 6 // Unhandled Exceptions
      -->
      <add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Priority Filter"/>
      <!--Category Filters-->
      <!--<add categoryFilterMode="DenyAllExceptAllowed" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Category Filter" />-->
    </logFilters>
    <!--Different categories can be logged in different stores using different listeners or can be logged into multiple stores-->
    <categorySources>
      <add switchValue="ActivityTracing" name="ActivityTracing">
        <listeners>
          <!--<add name="FlatFile TraceListener" />-->
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Error">
        <listeners>
          <!--<add name="FlatFile TraceListener" />-->
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Warning" name="Warning">
        <listeners>
          <!--<add name="FlatFile TraceListener" />-->
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Verbose" name="Verbose">
        <listeners>
          <!--<add name="FlatFile TraceListener" />-->
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Critical" name="Critical">
        <listeners>
          <!--<add name="FlatFile TraceListener" />-->
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Information" name="Information">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <!--<add name="FlatFile TraceListener" />-->
        </listeners>
      </add>
      <add switchValue="All" name="DataExchange">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <!--<add name="DataExchnage Database TraceListener" />-->
          <!--<add name="FlatFile TraceListener" />-->
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthenticationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthenticationService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthenticationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="SubWSDualBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" clientBaseAddress="http://localhost/ExchangeWorkerService/ExchangeWorker.svc/Sub" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00"/>
          <security mode="None">
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsDualHttpBinding>
      <netTcpBinding>
        <binding name="SubscriberTCPEndpoint">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://showcase.equivant.com/AuthenticationService/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService" contract="AuthenticationService.IAuthenticationService" name="WSHttpBinding_IAuthenticationService">
        <!--<identity>
          <servicePrincipalName value="host/js-ml-fs1.scnet.local" />
        </identity>-->
      </endpoint>
      <endpoint address="http://showcase.equivant.com/AuthenticationService/Service.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService" contract="AuthenticationService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService"/>
      <endpoint address="http://showcase.equivant.com/AuthenticationService/Service.svc/basicad" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService1" contract="AuthenticationService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService1"/>

      <endpoint address="net.tcp://js-ml-dev/DES/PubSub/PubSubService.svc/sub" binding="netTcpBinding" bindingConfiguration="SubscriberTCPEndpoint" contract="Exchange.Contracts.Services.ISubscriptionService" name="SubWSDualEP"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
